{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
    <title>User Home Page</title>
    <style media="screen">
    body{
      background: url("/static/img/recep.jpg");
      background-size: cover;
      height: 585px;
    }

    .a{
      font-size: 60px;
      text-shadow: 3px 3px black;
    }

    .b{
      width: 100px;
    }
    .b1{
      width: 100px;
      height: 45px;
      font-size: 14px;
    }
    </style>
  </head>
  <body>
  <i><h1 class="text-center text-info mt-5 a">Welcome To Hotel Highway</h1></i>

      <div class="container mt-5">
                  <div class="row">
                   <div class="col-5"></div>
                   <div class=""></div>
                  </div>
      </div>
  </body>
</html>
