{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title>Room Book Status</title>
  </head>
  <body>
    <h1 class="text-center">Room Book Status</h1>

    <div class="container">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'adminhome' %}"  class="btn btn-primary">Home</a></div>
            <div class="col"><a href="{% url 'viewbooking' %}"  class="btn btn-info">ViewBooking</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">DR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">DR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">DR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">DR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">DR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">TR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">TR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">TR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">TR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">TR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">QR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">QR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">QR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">QR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">QR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">CR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">CR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">CR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">CR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">CR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">MJSR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">MJSR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">MJSR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">MJSR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">MJSR-105 <br> Book Now</a></div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-5">
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SESR-101 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SESR-102 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SESR-103 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SESR-104 <br> Book Now</a></div>
            <div class="col"><a href="{% url 'roombook' %}" class="btn btn-success">SESR-101 <br> Book Now</a></div>
        </div>
    </div>

  </body>
</html>
